html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
  object-fit: contain;
}

.search-bar{
  border:none;
  outline:none;
  width:90%;
  padding-left: 10px;
  background-color: #121212;
  line-height: 37px;
  color: aliceblue;
  border-radius: 80px;
}
.mobile_input{
    position: absolute;
    top: 20px;
    left: 4%;
    padding: 5px 3px 5px 8px;
    border: none;
    outline: none;
    border-radius: 80px;
    background-color: #121212;
    color: aliceblue;
}
.login_btn{
  padding: 0;
  margin-right: 15px;
  width: 100%;
  height: 35px;
  border: none;
  color: #368bd5;
  font-size: 0.885rem;
  font-weight: 600;
  background-color: #0f0f0f;
  border-radius: 20px;
}
.login_btn:hover{
  cursor: pointer;
}
.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    /* padding: 0; */
  }
}